html.openmenu{
    pointer-events: none;
    overflow: hidden !important;
    height: 100% !important;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
/*fixed IOS*/
html.openmenu body{
    height: 100% !important;
    position: relative;
    overflow: hidden !important;
    margin-top: 0 !important;
}
/*======================================================================*/
/*================================ICON==================================*/
/*======================================================================*/
.menu_mobile{
    position: relative;
    overflow: hidden;
}
.menu_mobile.showmenu{
    position: static;
}
.menu_mobile .icon_menu{
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    color: #ffffff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding-top: 32px;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    
    background: transparent;
}
.menu_mobile .icon_menu .style_icon:before
{
    content: url(./icon-menu.png);
    position: absolute;
    
    left: 30px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  
   
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.menu_mobile .icon_menu .style_icon:before{
    top: 17px;
}

/*======================================================================*/
/*=============================CONTENT==================================*/
/*======================================================================*/
.menu_mobile .divmm {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    visibility: hidden;
    text-align: left;
    z-index: 50;
}
.menu_mobile .divmm .mmContent {
    width: 100%;
    height: 100%;
    padding-left: 0px;
    margin: 0 0 0 auto;
    position: relative;
    top: 0;
    right: 0;
    z-index: 60;
    -webkit-transform: translate(100%, 0%);
    -moz-transform: translate(100%, 0%);
    -o-transform: translate(100%, 0%);
    -ms-transform: translate(100%, 0%);
    transform: translate(100%, 0%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow-y: auto;
    max-width: 420px;
    pointer-events: none;
}
.menu_mobile .divmm .mmContent.no-over{
    overflow-y:hidden;
}
.menu_mobile .divmm .divmmbg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 51;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
    pointer-events: auto;
}
.menu_mobile .divmm.show .divmmbg {
    opacity: 1;
    visibility: visible;
}
/*======================================================================*/
/*======================MENU LOAI 1=====================================*/
/*======================================================================*/
.mmMenu {
    background: #333333;
    pointer-events: auto;
    max-height: 100%;
    overflow-y: auto;
}
.mmMenu>ul>li{
    border-bottom: solid 1px rgba(0,0,0,0.1);
    overflow: hidden;
}
.mmMenu>ul>li>a,
.mmMenu>ul>li>.m-sub>a {
    display: block;
    padding: 12px 40px 12px;
   
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    text-transform: uppercase;
	color: white;
}
.mmMenu>ul>li:hover>a,
.mmMenu>ul>li:hover>.m-sub>a{
    background: #f8ae41;
    color: #333333;
}
.mmMenu>ul>li>.m-sub{
    position: relative;
}
.mmMenu>ul>li>.m-sub>.button-submenu{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-left: solid 1px rgba(0,0,0,0.1);
    cursor: pointer;
    font-size: 26px;
    line-height: 34px;
    color:#666666;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
	
}
.mmMenu>ul>li>.m-sub>.button-submenu:before{
    content: "\f0da";
    font-family: 'Font Awesome 5 Free';
	font-weight: 900;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-size: 15px;
    color: white;
}
.mmMenu>ul>li>.m-sub>.button-submenu.show:before{
    content: "\f0dd";
}
.mmMenu>ul>li:hover>.m-sub>.button-submenu{
    color: white;
}
/*=====LEVEL 2=====*/
.mmMenu>ul>li>ul{
    position: relative;
    z-index: 1;
    background: #555555;
}
.mmMenu>ul>li>ul>li>a,
.mmMenu>ul>li>ul>li>.m-sub>a {
    display: block;
    padding: 14px 15px;
    padding-left: 60px;
    
   
    position: relative;
	color:white;
}
.mmMenu>ul>li>ul>li>a:before,
.mmMenu>ul>li>ul>li>.m-sub>a:before{
    content: "\f105";
    font-family: 'Font Awesome 5 Free';
	font-weight: 900;
    position: absolute;
    left:40px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color:#333333;
}
.mmMenu>ul>li>ul>li:hover>a,
.mmMenu>ul>li>ul>li:hover>.m-sub>a {
    color:#f8ae41;
}
.mmMenu>ul>li>ul>li{
    border-top:solid 1px transparent;
}
.mmMenu>ul>li>ul>li>.m-sub{
    position: relative;
}
.mmMenu>ul>li>ul>li>.m-sub>.button-submenu{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-left: solid 1px #e5e5e5;
    cursor: pointer;
    font-size: 26px;
    line-height: 34px;
    color:#666666;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.mmMenu>ul>li>ul>li>.m-sub>.button-submenu:before{
    content: "\f105";
   font-family: 'Font Awesome 5 Free';
	font-weight: 900;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.mmMenu>ul>li>ul>li>.m-sub>.button-submenu.show:before{
    content: "\f107";
}
.button-submenu.show{
    background-color: #555555;
}
/*====LEVEL 3====*/
.mmMenu>ul>li>ul>li>ul{
    position: relative;
    z-index: 1;
    background: #e5e5e5;
}
.mmMenu>ul>li>ul>li>ul>li>a,
.mmMenu>ul>li>ul>li>ul>li>.m-sub>a {
    display: block;
    padding: 14px 15px;
    padding-left: 35px;
}
.mmMenu>ul>li>ul>li>ul>li:hover>a,
.mmMenu>ul>li>ul>li>ul>li:hover>.m-sub>a {
    color:#da251c;
}
/*======================================================================*/
/*======================MENU LOAI 2=====================================*/
/*======================================================================*/
.menu_mobile.menu_2 .mmMenu ul.mmMain li ul{
    display: none;
}
.mmMenu .m-ab {
    position: fixed;
    top: 0;
    left: 50px;
    right: 0;
    bottom: 0;
    background: #ffffff;
    z-index: 61;
    overflow-y: auto;
    -webkit-transition: opacity 0.5s ease , visibility 0.5s ease , transform 0.5s ease;
    -moz-transition: opacity 0.5s ease , visibility 0.5s ease , transform 0.5s ease;
    -o-transition: opacity 0.5s ease , visibility 0.5s ease , transform 0.5s ease;
    transition: opacity 0.5s ease , visibility 0.5s ease , transform 0.5s ease;
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    transform: translate(100%, 0);
    border-left: 1px solid rgba(0,0,0,0.1);
    opacity: 0;
    visibility: hidden;
}
.mmMenu .m-ab.active{
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
}
.mmMenu .m-ab .m-ab-title a{
    display: block;
    padding: 14px 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.mmMenu .m-ab .m-ab-title {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.mmMenu .m-ab .m-ab-arrow a{
    display: block;
    padding: 14px 20px;
    text-transform: none;
    background: #000000;
    color:#ffffff;
    text-transform: uppercase;
}
.mmMenu .m-ab li {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.mmMenu .m-ab li a {
    display: block;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    padding: 13px 20px;
    padding-left: 40px;
    position: relative;
    font-weight: normal;
}
.mmMenu .m-ab li a:before{
    position: absolute;
   font-family: 'Font Awesome 5 Free';
	font-weight: 900;
    content: '\f0da';
    left:20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.mmMenu .m-ab li:hover a{
    color:#ff0000;
}
.mmMenu .m-ab li .m-sub{
    position: relative;
}
.mmMenu .m-ab li .button-submenu{
    position: absolute;
    right:0;
    top: 0;
    width: 50px;
    height: 50px;
    border-left: 1px solid rgba(0,0,0,0.1);
    cursor: pointer;
}
.mmMenu .m-ab li .button-submenu:before{
    content: "\f105";
   font-family: 'Font Awesome 5 Free';
	font-weight: 900;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.mmMenu .m-ab ul ul{
    display: none;
}
/*======================================================================*/
/*===========================MENU SHOW LEFT=============================*/
/*======================================================================*/
.menu_mobile.show_left .divmm .mmContent {
    padding-left: 0;
    padding-right: 50px;
    margin: 0 auto 0 0;
    direction: rtl;
    -webkit-transform: translate(-100%, 0%);
    -moz-transform: translate(-100%, 0%);
    -o-transform: translate(-100%, 0%);
    -ms-transform: translate(-100%, 0%);
    transform: translate(-100%, 0%);
}
.menu_mobile.show_left .divmm .mmContent .mmMenu .m-ab {
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    border-right: 1px solid rgba(0,0,0,0.1);
    left: 0;
    right: 50px;
}
.menu_mobile.show_left .divmm.show .mmContent .close-mmenu,
.menu_mobile.show_left .divmm .mmContent .close-mmenu{
    left: auto;
    right: 0;
}
.menu_mobile.show_left .divmm .mmContent .mmMenu .m-ab.active{
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.menu_mobile .divmm.show {
    visibility: visible;
    z-index: 999999;
}
.menu_mobile .divmm.show .mmContent {
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
}
.menu_mobile .divmm.show .mmContent .close-mmenu {
  
    top: 10px;
    opacity: 1;
}
/*======================================================================*/
/*===========================CLOSE MENU=================================*/
/*======================================================================*/
.menu_mobile .divmm .mmContent .close-mmenu {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    color: #646565;
    background: transparent;
    cursor: pointer;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    opacity: 0;
    pointer-events: auto;
    text-align: center;
    font-size: 28px;
    line-height: 36px;
    text-transform: uppercase;
}
.menu_mobile .divmm .mmContent .close-mmenu i{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
/*======================================================================*/
/*===========================ADDON======================================*/
/*======================================================================*/
.mmBotTools{
    padding: 15px 15px;
}
.mmSearch{
	margin: 0 auto;
	width: 90%;
    position: relative;
    margin-bottom: 15px;
	margin-top: 15px;
}
.mmSearch input{
    width: 100%;
    height: 45px;
    border:solid 1px rgba(0,0,0,0.1);
    border-radius: 25px;
    padding-left: 15px;
	background-color: #555555;
    font-size: 13px;
}
.mmSearch input::placeholder{
	color: #999999;
}
.mmSearch button{
    position: absolute;
    right:15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background:none;
    color:#999999;
    border:none;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.mmSearch button:hover{
    color:#f8ae41;
}
.mmSocial ul{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mmSocial ul li{
    margin:0 7px;
}
.mmSocial ul li a{
    display: block;
}
.mmSocial ul li a i{
    display: block;
    width: 40px;
    height: 40px;
    background: #333333;
    color:#ffffff;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    border-radius: 100%;
}
.mmSocial ul li a i:before{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.mmSocial ul li a i.fa-facebook{
    background: #506bb1;
}
.mmSocial ul li a i.fa-google{
    background: #e85441;
}
.mmSocial ul li a i.fa-youtube{
    background: #cd201f;
}
.mmTitle {
    font-size: 16px;
    line-height: 24px;
    color: #999999;
    font-weight: 300;
    border-bottom: solid 1px rgba(0,0,0,0.1);
    padding: 25px 15px 25px;
}
.mmTitle span{
    color: #f8ae41;
    font-weight: 600;
}
.mmHotline{
    padding: 10px 15px;
    padding-left: 20px;
   
	
    background-repeat: no-repeat;
    background-position: center left 15px;
    background-size: auto 30px;
    border-bottom: solid 1px rgba(0,0,0,0.1);
}
.mmHotline .t1{
    font-size: 13px;
    line-height: 21px;
    color:#666666;
    
}
.mmHotline .t2{
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    font-weight: 300;
    color:white;
    text-align:center;
}
.mmHotline .t2 i{
	color: white;
	font-size: 18px;
	margin-right: 5px;
   
}
.mmHotline .t2 span{
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
} 
.mmEmail{
    padding: 5px 15px;
    padding-left: 60px;
    background-image: url(../../images/i-envelope.png);
    background-repeat: no-repeat;
    background-position: center left 15px;
    background-size: auto 30px;
    border-bottom: solid 1px rgba(0,0,0,0.1);
}
.mmEmail .t1{
    font-size: 13px;
    line-height: 21px;
    color:#666666;
}
.mmEmail .t2{
    font-size: 15px;
    line-height: 23px;
    font-weight: 500;
}